name: Deploy to GoDaddy

on:
  push:
    branches: ["main"]

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install deps
        run: npm install

      - name: Build project
        run: npm run build

      - name: Upload to GoDaddy (dist only)
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          protocol: ftps
          port: 21
          local-dir: ./dist
          server-dir: /public_html/
          log-level: verbose
          security: loose
          exclude: |
            **/.git*
            **/.github/**
            **/node_modules/**
            **/README.md
